<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-joseovalletecmx/blob/main/Python_for_Data_Science_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 1 - Python Basics

In [ ]:
print ("Hello Python 101")

Hello Python 101

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
# print('Hello World!')?

In [ ]:
# Types - int, real numbers, words (strings)
# type(input) type function to display type of value

In [ ]:
# What is the type of the following: int(1.0)?
type(int(1.0))

int

In [ ]:
# Enter the code to convert the number 1 to a Boolean
bool(1)

True

In [ ]:
# operands (numbers) and operators
43+60+16+41
50-60
25/5

5.0

In [ ]:
# double dash for integers division, result is rounded
25 // 6

4

In [ ]:
# vs 1 dash 
25 / 6

4.166666666666667

In [ ]:
# Use of variable to store values

my_variable = 1
my_variable

# Reassing value
my_variable = 10
my_variable

# operations on variables
x = 160
x = x / 60
x

# example converting min to hours

total_min = 43 +42 + 57
total_hr = total_min / 60
total_hr

2.3666666666666667

In [ ]:
# Check the python version
import sys
print (sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
# Error example, this will show a "NameError" message
frint ("This is an error")

NameError: ignored

In [ ]:
# String operations

# String - sequence of characters or special caracters
# Strings have index, we can acces a letter or character through its index

name = "Michael Jackson"

# Last index can be accsed as -1
# every second letter
name[::2]

'McalJcsn'

In [ ]:
name[0:5:2] #up to index 5 and every second letter

'Mca'

In [ ]:
# lenght of letter
len(name)

15

In [ ]:
# 3 copys
3 * name

'Michael JacksonMichael JacksonMichael Jackson'

In [ ]:
# strings are immutable

sentence = " is the best"
name + sentence

'Michael Jackson is the best'

In [ ]:
# escape sequences
#  \ meant to proceed escape sequences
print("Michael Jakckson \n is the best")

Michael Jakckson
 is the best

In [ ]:
print("Michael Jakckson \\ is the best")

Michael Jakckson \ is the best

In [ ]:
print:(r"Michael Jakckson \is the best")

In [ ]:
# String methods
# Sequences methods
# String Methods

name_upper = name.upper()
name_upper

'MICHAEL JACKSON'

In [ ]:
# find method will pull the starting index of the substring
name.find("el")

5

In [ ]:
Numbers = "0123456"

# How would you obtain the even elements?
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

In [ ]:
# Review questions

3 + 2 * 2

7

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
'1'+'2'

'12'

In [ ]:
myvar = 'hello'
myvar.upper()

'HELLO'

Module 2 - Python Data Structures

In [ ]:
# LISTS AND TUPLES

# Compound data types, key stuctures
# Tuples are ordered sequences example (10,9,6,5,10)  all types can be contained within a tuple
# To acces use indexing
# Tuples are immutable, # cannot be changed through indexes

Tuple1 = ("disco",10,1.2)
Tuple1[1]

10

In [ ]:
Tuple1[0:3]

('disco', 10, 1.2)

In [ ]:
len(Tuple1[0:3])

3

In [ ]:
tuple1ssorted = sorted(Tuple1[1:3])
tuple1ssorted

[1.2, 10]

In [ ]:
# Tuples: nesting
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT

# accessing throuhg indexing std method
NT[2]
NT[2][1]
NT[2][0]
NT[2][0][1]

'o'

In [ ]:
# Lists are also order sequences
# Key differences, they are mutable

mylist= [1,2,("pop","rock"),(3,4),("disco",(1,2))]
mylist

# slicing can be performed
# lists can be concatened
L1 = mylist + ["new element of the list"]
L1

[1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)), 'new element of the list']

In [ ]:
# extend method - more than 1 element
L2 = mylist.extend(["new element of the list"])
L2

In [ ]:
# append method , per element
mylist.append("new element")
mylist

[1,
 2,
 ('pop', 'rock'),
 (3, 4),
 ('disco', (1, 2)),
 'new element of the list',
 'new element',
 'new element']

In [ ]:
# Convert string to list with split
"hard rock".split()
"hard_rock".split("_") # adding a specific index to separate

['hard', 'rock']

In [ ]:
# Exercises

# Question 1
A=(0,1,2,3)
A[3]

3

In [ ]:
# Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
B.append(['a','b'])
B

['a', 'b', 'c', ['a', 'b'], ['a', 'b']]

In [ ]:
# SETS
# Type of collection, input different python types, they are unordered
# SETS have unique elements
# to define use {}

set1 = {1,1,2,3,4,5,6,7,8,8,9}
set1

# convert list to set - use set()

myset = set(mylist)
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [ ]:
# Set operations
# add method
myset.add("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'hello world',
 'new element',
 'new element of the list'}

In [ ]:
# remove method
myset.remove("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [ ]:
# in command, checks if value is iwthin set
('disco', (1, 2)) in myset

True

In [ ]:
album_set_1 = {"hello","1"}
album_set_2 = {"hello","2"}

# join or ven diagram
# intersection, elements in both sets

# use & to find intersection
album_set_1&album_set_2 # useful function

{'hello'}

In [ ]:
# union of all values
album_set_1.union(album_set_2)

{'1', '2', 'hello'}

In [ ]:
# issubset method
album_set_1.issubset(album_set_2)

False

In [ ]:
# Excercsies
# What is the result of the following lines of code:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S&U

{'A', 'C'}

In [ ]:
# DICTIONARIES - key value pairs
# acces through key, not through indexes
# keys cannot be repeated

mydictionary = {"key1":1,"key2":2,"key3":3} 
mydictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
mydictionary["key1"]

1

In [ ]:
#delete key
del(mydictionary["key3"]) #deletes key as well as value
mydictionary

{'key1': 1, 'key2': 2}

In [ ]:
#keys method to show all the keys
mydictionary.keys()

dict_keys(['key1', 'key2'])

In [ ]:
#keys method to show all the values
mydictionary.values()

dict_values([1, 2])

In [ ]:
# excercises

# Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1

Module 3 - Python Programming Fundamentals

In [ ]:
# Conditions 

# Comparison operators

# a = 6 !=  a == 6

In [1]:
a = 6
a == 6

True

In [2]:
i = 2
i > 5

False

In [3]:
"ac/dc" == "AC/DC"

False

In [9]:
# Branching, run different statements for different input
# if statement
age = 18

if (age > 18):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

In [12]:
# elif statement #additional condition
age = 18

if (age > 18):
  print("you can enter")
elif (age == 18):
   print("go see pink floyd") 
else:
  print("go see Meat Loaf")
print("move on")

go see pink floyd
move on

In [ ]:
# Logic oprators

# NOT
#   if input is true , result is false
#   if input is false, result is true

In [13]:
# OR
# result is false if all values are false

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
  print("The album was made in the 70's or  90's")
else:
  print("The album was made in the 80's")

The album was made in the 70's or  90's

In [16]:
# AND
# only produces true if all values are true

album_year = 1983

if(album_year > 1979) and (album_year < 1990):
  print("The album was made in the 80's")

The album was made in the 80's

In [18]:
# Question 1

# i = 1 True
# i = 0 False
# i = -1 True
# i = 10000000 True
i!=0

False

In [19]:
# Question 2

x='a'

if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

This is a.

In [20]:
# LOOPS

# For loops / while loops

# Range function range(N)

range(3) # [0,1,2]

range(0, 3)

In [21]:
range(10,15) # [10,11,12,13,14]

range(10, 15)

In [32]:
# FOR LOOPS
squares = ["red","yellow","green","pruple","blue", "orange"]

for i in range(0,5):
  print(squares[i] == "white")

False
False
False
False
False

In [33]:
# ennumerate (obtain index and element in a list)

for i, square in enumerate(squares):
  print(square)
  print(i)

red
0
yellow
1
green
2
pruple
3
blue
4
orange
5

In [40]:
# WHILE LOOPS

squares = ["orange","orange","purple","blue"]
newsquares = []

i = 0 

while(squares[i] == "orange"):
  newsquares.append(squares[i])
  i = i + 1

newsquares

['orange', 'orange']

In [42]:
# Question 1

A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [43]:
# Question 2
x=3
y=1

while(y!=x):
  print(y)
  y=y+1

1
2

In [48]:
# Functions

# built-in functions
# create own functions

# input  > function > output
# output > function > output

# python builtin fuctions

# len(string/typecollection) returns the lenght of that sequence
# sorted vs sort
# sorted returns the sorted list

album_ratings = [10,7,5,4,4,566,1]
sorted_album_rating = sorted(album_ratings)
sorted_album_rating # new variable was created here
# nothin happens to the album_ratings

[1, 4, 4, 5, 7, 10, 566]

In [49]:
album_ratings.sort()  # the list album rating gets sorted
album_ratings

[1, 4, 4, 5, 7, 10, 566]

In [51]:
# Making functions

def add1(a):
  """
  add 1 to a
  """
  b = a + 1
  return b

b = add1(5)
b

6

In [52]:
help(add1) # comment gets printed through help command once function was created

Help on function add1 in module __main__:

add1(a)

In [54]:
def Mult(a,b):
  c = a * b
  return c

mymult = Mult(4,2)
mymult

8

In [56]:
def MJ():
  print("Michael Jackson") #returns non object 

MJ()

Michael Jackson

In [57]:
def NoWork():
  pass
print(NoWork())

None

In [59]:
# LOOPS IN FUNCTIONS
def printstuff(stuff):
  for i,s in enumerate(stuff):
    print("album",i,"rating is",s)

printstuff(album_ratings)

album 0 rating is 1
album 1 rating is 4
album 2 rating is 4
album 3 rating is 5
album 4 rating is 7
album 5 rating is 10
album 6 rating is 566

In [60]:
def artistnames(*names): 
  for name in names:
    print(name)

artistnames("michaeljackson","acdc","pink")

michaeljackson
acdc
pink

In [62]:
# SCOPE, part of the program where the variable is accesible

# local vs global scope

# function runs first on local scope, if not found it goes to global scope

# local scope
def addc (x):
  x = x +"DC"
  print(x)
  return(x)

x = "AC"
z = addc(x)
z

ACDC

'ACDC'

In [63]:
x

'AC'

In [65]:
# Question 1
a=1

def add(b):
  return a+b
c=add(10)
c

11

In [66]:
# What is the value of c after the following block of code is run with proper numerical input?

def f(*x):
  return sum(x)

f = f(c,c,c)
f

33

In [ ]:
# OBJECTS AND CLASSES

# every object has:
# a type, internal data representation (blueprint), a set of procedures for interacting with the object (methods)
# type, data, methods
# an object is an instance of a particular type

# type 1 has objects 1,2,3..to N
# type 2 has objects 1,2,3..to N

# type() command to find the bject type

In [71]:
# creating class

# circle, attributes: color, ratuids
# rectangle, attributes: height, widht

class circle():
  def __init__(self,radius,color):
    self.radius = radius  # values that will be passed to the object
    self.color  = color  # values that will be passed to the object

  def add_radius(self,r):
    self.radius =self.radius + r
    return(self.radius)

class rectangle():
  def __init__(self,height,width):
    self.height = height  # values that will be passed to the object
    self.width  = width  # values that will be passed to the object

c1 = circle(10,"red")
c1.color = "blue" # this will change the attribute of the object
c1.add_radius(10) # this is hte updated radius 10 + 10

20

In [72]:
c1.color

'blue'

In [73]:
c1.radius

20

Review Questions module 1 - 3

In [74]:
# Question 1

# What is the output of the following lines of code:

x=1

if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [75]:
# Question 2

# What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:
  print(2*a)

11
22
33

In [76]:
# Question 3

# Consider the function Delta, when will the function return a value of 1

def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

delta_result = Delta(0) 
delta_result

1

In [77]:
# Question 4

# What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

b = [10,7,5,4,4,566,1]
sorted_b = sorted(b)
sorted_b # new variable was created here
# nothin happens to b

[1, 4, 4, 5, 7, 10, 566]

In [78]:
b

[10, 7, 5, 4, 4, 566, 1]

In [79]:
b.sort()  # the list album rating gets sorted
b

[1, 4, 4, 5, 7, 10, 566]

In [80]:
# Question 5
# What are the keys of the following dictionary: {'a':1,'b':2}?

my_new_dict = {'a':1,'b':2}
my_new_dict.keys()

dict_keys(['a', 'b'])