<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-joseovalletecmx/blob/main/Python_for_Data_Science_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 1 - Python Basics

In [ ]:
print ("Hello Python 101")

Hello Python 101

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
# print('Hello World!')?

In [ ]:
# Types - int, real numbers, words (strings)
# type(input) type function to display type of value

In [ ]:
# What is the type of the following: int(1.0)?
type(int(1.0))

int

In [ ]:
# Enter the code to convert the number 1 to a Boolean
bool(1)

True

In [ ]:
# operands (numbers) and operators
43+60+16+41
50-60
25/5

5.0

In [ ]:
# double dash for integers division, result is rounded
25 // 6

4

In [ ]:
# vs 1 dash 
25 / 6

4.166666666666667

In [ ]:
# Use of variable to store values

my_variable = 1
my_variable

# Reassing value
my_variable = 10
my_variable

# operations on variables
x = 160
x = x / 60
x

# example converting min to hours

total_min = 43 +42 + 57
total_hr = total_min / 60
total_hr

2.3666666666666667

In [ ]:
# Check the python version
import sys
print (sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
# Error example, this will show a "NameError" message
frint ("This is an error")

NameError: ignored

In [ ]:
# String operations

# String - sequence of characters or special caracters
# Strings have index, we can acces a letter or character through its index

name = "Michael Jackson"

# Last index can be accsed as -1
# every second letter
name[::2]

'McalJcsn'

In [ ]:
name[0:5:2] #up to index 5 and every second letter

'Mca'

In [ ]:
# lenght of letter
len(name)

15

In [ ]:
# 3 copys
3 * name

'Michael JacksonMichael JacksonMichael Jackson'

In [ ]:
# strings are immutable

sentence = " is the best"
name + sentence

'Michael Jackson is the best'

In [ ]:
# escape sequences
#  \ meant to proceed escape sequences
print("Michael Jakckson \n is the best")

Michael Jakckson
 is the best

In [ ]:
print("Michael Jakckson \\ is the best")

Michael Jakckson \ is the best

In [ ]:
print:(r"Michael Jakckson \is the best")

In [ ]:
# String methods
# Sequences methods
# String Methods

name_upper = name.upper()
name_upper

'MICHAEL JACKSON'

In [ ]:
# find method will pull the starting index of the substring
name.find("el")

5

In [ ]:
Numbers = "0123456"

# How would you obtain the even elements?
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

In [ ]:
# Review questions

3 + 2 * 2

7

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
'1'+'2'

'12'

In [ ]:
myvar = 'hello'
myvar.upper()

'HELLO'

Module 2 - Python Data Structures

In [3]:
# LISTS AND TUPLES

# Compound data types, key stuctures
# Tuples are ordered sequences example (10,9,6,5,10)  all types can be contained within a tuple
# To acces use indexing
# Tuples are immutable, # cannot be changed through indexes

Tuple1 = ("disco",10,1.2)
Tuple1[1]

10

In [4]:
Tuple1[0:3]

('disco', 10, 1.2)

In [5]:
len(Tuple1[0:3])

3

In [8]:
tuple1ssorted = sorted(Tuple1[1:3])
tuple1ssorted

[1.2, 10]

In [14]:
# Tuples: nesting
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT

# accessing throuhg indexing std method
NT[2]
NT[2][1]
NT[2][0]
NT[2][0][1]

'o'

In [17]:
# Lists are also order sequences
# Key differences, they are mutable

mylist= [1,2,("pop","rock"),(3,4),("disco",(1,2))]
mylist

# slicing can be performed
# lists can be concatened
L1 = mylist + ["new element of the list"]
L1

[1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)), 'new element of the list']

In [18]:
# extend method - more than 1 element
L2 = mylist.extend(["new element of the list"])
L2

In [21]:
# append method , per element
mylist.append("new element")
mylist

[1,
 2,
 ('pop', 'rock'),
 (3, 4),
 ('disco', (1, 2)),
 'new element of the list',
 'new element',
 'new element']

In [26]:
# Convert string to list with split
"hard rock".split()
"hard_rock".split("_") # adding a specific index to separate

['hard', 'rock']

In [28]:
# Exercises

# Question 1
A=(0,1,2,3)
A[3]

3

In [29]:
# Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

In [59]:
B.append(['a','b'])
B

['a', 'b', 'c', ['a', 'b'], ['a', 'b']]

In [34]:
# SETS
# Type of collection, input different python types, they are unordered
# SETS have unique elements
# to define use {}

set1 = {1,1,2,3,4,5,6,7,8,8,9}
set1

# convert list to set - use set()

myset = set(mylist)
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [35]:
# Set operations
# add method
myset.add("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'hello world',
 'new element',
 'new element of the list'}

In [36]:
# remove method
myset.remove("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [41]:
# in command, checks if value is iwthin set
('disco', (1, 2)) in myset

True

In [43]:
album_set_1 = {"hello","1"}
album_set_2 = {"hello","2"}

# join or ven diagram
# intersection, elements in both sets

# use & to find intersection
album_set_1&album_set_2 # useful function

{'hello'}

In [44]:
# union of all values
album_set_1.union(album_set_2)

{'1', '2', 'hello'}

In [45]:
# issubset method
album_set_1.issubset(album_set_2)

False

In [46]:
# Excercsies
# What is the result of the following lines of code:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [47]:
# What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S&U

{'A', 'C'}

In [49]:
# DICTIONARIES - key value pairs
# acces through key, not through indexes
# keys cannot be repeated

mydictionary = {"key1":1,"key2":2,"key3":3} 
mydictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [50]:
mydictionary["key1"]

1

In [51]:
#delete key
del(mydictionary["key3"]) #deletes key as well as value
mydictionary

{'key1': 1, 'key2': 2}

In [53]:
#keys method to show all the keys
mydictionary.keys()

dict_keys(['key1', 'key2'])

In [54]:
#keys method to show all the values
mydictionary.values()

dict_values([1, 2])

In [55]:
# excercises

# Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [56]:
# Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1

Module 3 - Python Programming Fundamentals