<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-joseovalle_A01150742/blob/main/Python_for_Data_Science_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alumno: José Ovalle Alvarado
Matrícula: A01150742
Actividad: semana 1 - Módulo 2

Module 2 - Python Data Structures

In [ ]:
# LISTS AND TUPLES

# Compound data types, key stuctures
# Tuples are ordered sequences example (10,9,6,5,10)  all types can be contained within a tuple
# To acces use indexing
# Tuples are immutable, # cannot be changed through indexes

Tuple1 = ("disco",10,1.2)
Tuple1[1]

10

In [ ]:
Tuple1[0:3]

('disco', 10, 1.2)

In [ ]:
len(Tuple1[0:3])

3

In [ ]:
tuple1ssorted = sorted(Tuple1[1:3])
tuple1ssorted

[1.2, 10]

In [ ]:
# Tuples: nesting
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT

# accessing throuhg indexing std method
NT[2]
NT[2][1]
NT[2][0]
NT[2][0][1]

'o'

In [ ]:
# Lists are also order sequences
# Key differences, they are mutable

mylist= [1,2,("pop","rock"),(3,4),("disco",(1,2))]
mylist

# slicing can be performed
# lists can be concatened
L1 = mylist + ["new element of the list"]
L1

[1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)), 'new element of the list']

In [ ]:
# extend method - more than 1 element
L2 = mylist.extend(["new element of the list"])
L2

In [ ]:
# append method , per element
mylist.append("new element")
mylist

[1,
 2,
 ('pop', 'rock'),
 (3, 4),
 ('disco', (1, 2)),
 'new element of the list',
 'new element',
 'new element']

In [ ]:
# Convert string to list with split
"hard rock".split()
"hard_rock".split("_") # adding a specific index to separate

['hard', 'rock']

In [ ]:
# Exercises

# Question 1
A=(0,1,2,3)
A[3]

3

In [ ]:
# Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
B.append(['a','b'])
B

['a', 'b', 'c', ['a', 'b'], ['a', 'b']]

In [ ]:
# SETS
# Type of collection, input different python types, they are unordered
# SETS have unique elements
# to define use {}

set1 = {1,1,2,3,4,5,6,7,8,8,9}
set1

# convert list to set - use set()

myset = set(mylist)
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [ ]:
# Set operations
# add method
myset.add("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'hello world',
 'new element',
 'new element of the list'}

In [ ]:
# remove method
myset.remove("hello world")
myset

{('disco', (1, 2)),
 ('pop', 'rock'),
 (3, 4),
 1,
 2,
 'new element',
 'new element of the list'}

In [ ]:
# in command, checks if value is iwthin set
('disco', (1, 2)) in myset

True

In [ ]:
album_set_1 = {"hello","1"}
album_set_2 = {"hello","2"}

# join or ven diagram
# intersection, elements in both sets

# use & to find intersection
album_set_1&album_set_2 # useful function

{'hello'}

In [ ]:
# union of all values
album_set_1.union(album_set_2)

{'1', '2', 'hello'}

In [ ]:
# issubset method
album_set_1.issubset(album_set_2)

False

In [ ]:
# Excercsies
# What is the result of the following lines of code:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S&U

{'A', 'C'}

In [ ]:
# DICTIONARIES - key value pairs
# acces through key, not through indexes
# keys cannot be repeated

mydictionary = {"key1":1,"key2":2,"key3":3} 
mydictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
mydictionary["key1"]

1

In [ ]:
#delete key
del(mydictionary["key3"]) #deletes key as well as value
mydictionary

{'key1': 1, 'key2': 2}

In [ ]:
#keys method to show all the keys
mydictionary.keys()

dict_keys(['key1', 'key2'])

In [ ]:
#keys method to show all the values
mydictionary.values()

dict_values([1, 2])

In [ ]:
# excercises

# Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1