<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-joseovalle_A01150742/blob/main/Python_for_Data_Science_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alumno: José Ovalle Alvarado
Matrícula: A01150742
Actividad: semana 1 - Módulo 3

Module 3 - Python Programming Fundamentals

In [ ]:
# Conditions 

# Comparison operators

# a = 6 !=  a == 6

In [ ]:
a = 6
a == 6

True

In [ ]:
i = 2
i > 5

False

In [ ]:
"ac/dc" == "AC/DC"

False

In [ ]:
# Branching, run different statements for different input
# if statement
age = 18

if (age > 18):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

In [ ]:
# elif statement #additional condition
age = 18

if (age > 18):
  print("you can enter")
elif (age == 18):
   print("go see pink floyd") 
else:
  print("go see Meat Loaf")
print("move on")

go see pink floyd
move on

In [ ]:
# Logic oprators

# NOT
#   if input is true , result is false
#   if input is false, result is true

In [ ]:
# OR
# result is false if all values are false

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
  print("The album was made in the 70's or  90's")
else:
  print("The album was made in the 80's")

The album was made in the 70's or  90's

In [ ]:
# AND
# only produces true if all values are true

album_year = 1983

if(album_year > 1979) and (album_year < 1990):
  print("The album was made in the 80's")

The album was made in the 80's

In [ ]:
# Question 1

# i = 1 True
# i = 0 False
# i = -1 True
# i = 10000000 True
i!=0

False

In [ ]:
# Question 2

x='a'

if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

This is a.

In [ ]:
# LOOPS

# For loops / while loops

# Range function range(N)

range(3) # [0,1,2]

range(0, 3)

In [ ]:
range(10,15) # [10,11,12,13,14]

range(10, 15)

In [ ]:
# FOR LOOPS
squares = ["red","yellow","green","pruple","blue", "orange"]

for i in range(0,5):
  print(squares[i] == "white")

False
False
False
False
False

In [ ]:
# ennumerate (obtain index and element in a list)

for i, square in enumerate(squares):
  print(square)
  print(i)

red
0
yellow
1
green
2
pruple
3
blue
4
orange
5

In [ ]:
# WHILE LOOPS

squares = ["orange","orange","purple","blue"]
newsquares = []

i = 0 

while(squares[i] == "orange"):
  newsquares.append(squares[i])
  i = i + 1

newsquares

['orange', 'orange']

In [ ]:
# Question 1

A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [ ]:
# Question 2
x=3
y=1

while(y!=x):
  print(y)
  y=y+1

1
2

In [ ]:
# Functions

# built-in functions
# create own functions

# input  > function > output
# output > function > output

# python builtin fuctions

# len(string/typecollection) returns the lenght of that sequence
# sorted vs sort
# sorted returns the sorted list

album_ratings = [10,7,5,4,4,566,1]
sorted_album_rating = sorted(album_ratings)
sorted_album_rating # new variable was created here
# nothin happens to the album_ratings

[1, 4, 4, 5, 7, 10, 566]

In [ ]:
album_ratings.sort()  # the list album rating gets sorted
album_ratings

[1, 4, 4, 5, 7, 10, 566]

In [ ]:
# Making functions

def add1(a):
  """
  add 1 to a
  """
  b = a + 1
  return b

b = add1(5)
b

6

In [ ]:
help(add1) # comment gets printed through help command once function was created

Help on function add1 in module __main__:

add1(a)

In [ ]:
def Mult(a,b):
  c = a * b
  return c

mymult = Mult(4,2)
mymult

8

In [ ]:
def MJ():
  print("Michael Jackson") #returns non object 

MJ()

Michael Jackson

In [ ]:
def NoWork():
  pass
print(NoWork())

None

In [ ]:
# LOOPS IN FUNCTIONS
def printstuff(stuff):
  for i,s in enumerate(stuff):
    print("album",i,"rating is",s)

printstuff(album_ratings)

album 0 rating is 1
album 1 rating is 4
album 2 rating is 4
album 3 rating is 5
album 4 rating is 7
album 5 rating is 10
album 6 rating is 566

In [ ]:
def artistnames(*names): 
  for name in names:
    print(name)

artistnames("michaeljackson","acdc","pink")

michaeljackson
acdc
pink

In [ ]:
# SCOPE, part of the program where the variable is accesible

# local vs global scope

# function runs first on local scope, if not found it goes to global scope

# local scope
def addc (x):
  x = x +"DC"
  print(x)
  return(x)

x = "AC"
z = addc(x)
z

ACDC

'ACDC'

In [ ]:
x

'AC'

In [ ]:
# Question 1
a=1

def add(b):
  return a+b
c=add(10)
c

11

In [ ]:
# What is the value of c after the following block of code is run with proper numerical input?

def f(*x):
  return sum(x)

f = f(c,c,c)
f

33

In [ ]:
# OBJECTS AND CLASSES

# every object has:
# a type, internal data representation (blueprint), a set of procedures for interacting with the object (methods)
# type, data, methods
# an object is an instance of a particular type

# type 1 has objects 1,2,3..to N
# type 2 has objects 1,2,3..to N

# type() command to find the bject type

In [ ]:
# creating class

# circle, attributes: color, ratuids
# rectangle, attributes: height, widht

class circle():
  def __init__(self,radius,color):
    self.radius = radius  # values that will be passed to the object
    self.color  = color  # values that will be passed to the object

  def add_radius(self,r):
    self.radius =self.radius + r
    return(self.radius)

class rectangle():
  def __init__(self,height,width):
    self.height = height  # values that will be passed to the object
    self.width  = width  # values that will be passed to the object

c1 = circle(10,"red")
c1.color = "blue" # this will change the attribute of the object
c1.add_radius(10) # this is hte updated radius 10 + 10

20

In [ ]:
c1.color

'blue'

In [ ]:
c1.radius

20

Review Questions module 1 - 3

In [ ]:
# Question 1

# What is the output of the following lines of code:

x=1

if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [ ]:
# Question 2

# What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:
  print(2*a)

11
22
33

In [ ]:
# Question 3

# Consider the function Delta, when will the function return a value of 1

def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

delta_result = Delta(0) 
delta_result

1

In [ ]:
# Question 4

# What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

b = [10,7,5,4,4,566,1]
sorted_b = sorted(b)
sorted_b # new variable was created here
# nothin happens to b

[1, 4, 4, 5, 7, 10, 566]

In [ ]:
b

[10, 7, 5, 4, 4, 566, 1]

In [ ]:
b.sort()  # the list album rating gets sorted
b

[1, 4, 4, 5, 7, 10, 566]

In [ ]:
# Question 5
# What are the keys of the following dictionary: {'a':1,'b':2}?

my_new_dict = {'a':1,'b':2}
my_new_dict.keys()

dict_keys(['a', 'b'])